<p id="notice"><%= notice %></p>

<p>
  <b>Author:</b>
  <%= @citation.author %>
</p>

<p>
  <b>Year:</b>
  <%= @citation.year %>
</p>

<p>
  <b>Title:</b>
  <%= @citation.title %>
</p>

<p>
  <b>Volume:</b>
  <%= @citation.volume %>
</p>

<p>
  <b>Pages:</b>
  <%= @citation.pages %>
</p>

<p>
  <b>Abstract:</b>
  <%= @citation.abstract %>
</p>

<input id="editbutton">Edit</button>
<%= link_to 'Back', user_path(@citation.user) %>

<div id="editcit">
<%= render :partial => 'form' %>
</div>

<script text="text/javascript">
$('#editcit').hide(25);
$('#editbutton').click(function() {
	$('#editcit').toggle(400);
});
</script>