<h1>Profile</h1>
<table class="profile" summary="Profile Information">
	<tr>
		<td class="main">
			<h1>
				<%= @user.name %>
			</h1>
		</td>
		<td class="sidebar round">
			<strong>Name: </strong><%= @user.name %><br />
			<strong>URL: </strong><%= link_to user_path(@user), @user %><br />
			<strong>Articles: </strong><%= @user.citations.count %><br />
			<button id="editlink"><%= link_to "Edit Settings", edit_user_path(current_user), :remote => true %></button>
		</td>
	</tr>
</table>

<button id="addcit">Add Article</button>
<button id="display">Display Library</button>

<div id="showcit">
	<table>
		<tr>
    		<th>Author</th>
    		<th>Year</th>
    		<th>Title</th>
    		<th>Volume</th>
    		<th>Pages</th>
    		<th>Abstract</th>
			<th>Actions</th>
        </tr>
		<tr id="citdata">
  			<%= render :partial => 'shared/citation' %>
		</tr>
	</table>
</div>

<div id="newcit">
	<%= render :partial => 'citations/form' %>
</div>

<div id="edituser">
	<%= render :partial => 'editform', :remote => true %>
</div>

<script type="text/javascript">
$("#showcit").show(25);
$("#edituser").hide(25);
$("#editlink").click(function(){
	$("#edituser").toggle(400);
	$("#newcit").hide(400);
	$("#showcit").hide(400);
});
$("#addcit").click(function(){
	$("#newcit").toggle(400);
	$("#edituser").hide(400);
});
$("#display").click(function(){
	$("#showcit").toggle(400);
});
</script>